!!!
%html
  %head

    %title
      Type/Code

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all', :'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ class: (defined?(@body_classes) ? @body_classes : '') }

    = render partial: 'shared/navigation'

    .container
      = content_tag :h1, yield(:title)
      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
