!!!
%html
  %head

    %title
      Type/Code

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all', :'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ class: (defined?(@body_classes) ? @body_classes : '') }

    = render partial: 'shared/navigation'

    #post-background{ style: "background-image: url(#{asset_path(@post.background)});" }
      %img#post-mobile-background{ src: asset_path(@post.background_mobile) }

    .container
      = content_tag :h1, yield(:title)

      = simple_form_for @post, remote: true do |f|
        = f.text_field :title
        = f.submit

      .slug-display
        slug:
        %span#slug-text
          = @post.slug

      .edit-icons-outer
        .edit-icons-inner
          .icon-wrapper.pencil-icon-wrapper
            = render partial: 'shared/pencil_icon'

          .icon-wrapper.close-icon-wrapper
            = render partial: 'shared/close_icon'

          .icon-wrapper.check-icon-wrapper
            = render partial: 'shared/check_icon'


      %article.content-container

        .side-bar
          = render partial: 'shared/sidebar', locals: { post: @post }

        .main-content
          = yield

    .susy-grid

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
